.themeFontColour{
    color: white;
}
.banner{
    align-items: center;
    align-content: center;
    align-self: center;
    background-color: #5EB55E;
    position: fixed; 
    z-index: 1;
    width: 100vw;
    top: 0;
    left: 0;
}
.sidebar{
    background-color: #5EB55E;
    height: 88vh;
    position: fixed;
    margin-top: 12vh;
    width: 8vw;
    top: 0vh;
    left: 0;
}
.sidebarContent{
    margin-top: 4vh;
    width: 8vw;
    border-radius: 2px;
    border-width: 2px;
    border-color: white;
    background-color: #5EB55E;
    cursor: pointer;
}
.shoppingCart{
    background-color: #5EB55E;
    height: 88vh;
    position: fixed;
    margin-top: 12vh;
    width: 8vw;
    top: 0vh;
    right: 0;
}
.shoppingCartHidden{
    height: 88vh;
    position: fixed;
    margin-top: 12vh;
    width: 8vw;
    top: 0vh;
    right: 0;
}
.shoppingCartBtn{
    background-color: #5EB55E;
    max-width: 4vw;
    max-height: 4vw;
    margin-left: 50%;
    margin-right: 0%;
    border-width: 2px;
    
}
.aboutus{
    background-color: #4F8857;
    min-height: 20vh;
    height: auto;
    padding: 1vh;
    margin-top: 12vh;

}
.products{
    background-color: #4F8857;
    padding: 1vh;
    height: auto;
    min-height: 68vh;
}
.spacerCol{
    height: 100vh;
}
.dropdown{
    background-color: #5EB55E;
    border-radius: 1vh;
    border-color: white;
    border-width: 2px;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    padding: 1vh;
    cursor: pointer;
    position: relative; z-index: 0;

}
.dropdownSml{
    background-color: #5EB55E;
    border-radius: 1vh;
    border-color: white;
    border-width: 2px;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    padding: 1vh;
    cursor: pointer;
    position: relative; 
    z-index: 0;
}
.productTable{
    margin-left: auto;
    margin-right: auto;
}
.tableContent{
    width: 22vw;
}
.checkoutBtn{
    bottom: 100%;
    width: 8vw;
    border-radius: 2px;
    border-width: 2px;
    border-color: white;
    background-color: #5EB55E;
    cursor: pointer;
}
.login{
    background-color: #4F8857;
    padding: 1vh;
    height: auto;
    min-height: 68vh;
    margin-left: 9vw;
    margin-top: 12vh;
}
.loginBtn{
    margin-left: 5%;
}
.signUpBtn{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

table{
    margin-right: auto;
    margin-left: auto;
    width: 80%;  
}
td{
    width: 33%;
    text-align: center;
}
th{
    width: 33%;
    text-align: center;
}

h1{
    align-self: center;
    align-items: center;
    text-align: center;
    height: 10vh;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
p{
    text-align: center;
}
header{
    position: fixed; 
    z-index: 1;
    width: 100vw;
}
button{
    text-align: center;
    position: relative; 
    z-index: 0;
}
img{
    width: 100%;
    height: 100%;
}
input{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    border-width: 2px;
    border-color: white;
    background-color: #4F8857;
    color: white;
}
